wp.beisi.tech {
    encode gzip

    @badApi path /api/* /cart/* /collect
    respond @badApi 204

    root * /var/www/html

    php_fastcgi wordpress:80

    @notFile {
        not file
    }
    rewrite @notFile /index.php

    file_server
}
