services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    ports:
      - "3306:3306"
    restart: always
    privileged: true
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - "./db/mysql/conf:/etc/mysql/conf.d"
      - "./db/mysql/data:/var/lib/mysql"
      - "./db/mysql/init:/docker-entrypoint-initdb.d"
    networks:
      - beisi-network

  caddy:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: caddy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./caddy/data:/data
      - ./caddy/config:/config
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ./caddy/caddy_logs:/var/log/caddy
    environment:
      DOMAIN: ${DOMAIN}
    networks:
      - beisi-network
    restart: always

  wordpress:
    image: wordpress:latest
    container_name: wordpress
    restart: always
    ports:
      - "8080:80"
    environment:
      WORDPRESS_DB_HOST: mysql
      WORDPRESS_DB_USER: root
      WORDPRESS_DB_PASSWORD: ${WORDPRESS_DB_PASSWORD}
      WORDPRESS_DB_NAME: wp
    volumes:
      - ./wp:/var/www/html
      - ./php/php.ini:/usr/local/etc/php/php.ini
    networks:
      - beisi-network
    depends_on:
      - mysql

networks:
  beisi-network:
    driver: bridge
    name: beisi-shared-network